.App {
  font-family: sans-serif;
  text-align: center;
}
.incButton {
  background-color: aquamarine;
  width: 20px;
  height: 20px;
}
.decButton {
  background-color: coral;
  width: 5%;
  height: 5%;
}
